name: Commitlint

on:
  workflow_call:

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v1

      - run: bun install --frozen-lockfile

      - name: Lint commits
        run: |
          bunx commitlint \
            --from origin/${{ github.base_ref }} \
            --to HEAD
