name: ESLint

on:
  workflow_call:

env:
  CI: true
  HUSKY: 0

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install --frozen-lockfile

      - name: Run ESLint
        run: bun run lint
